/.mixin.out/
/asm/
/fonts/
/astralsorcery/
/coremods/
/screenshots/
/saves/
/XaeroWorldMap/
/local/
/logs/
/texturepacks/
/server-resource-packs/
/hammercore/
/crash-reports/
/backups/
/journeymap/
/scripts/.zsrc
/mods/memory_repo
/mods/OpenSecurity
/mods/railcraft

*.log

/patchouli_data.json
/usercache.json
/usernamecache.json
/.ReAuth.cfg
/icon.png
/options.txt
/hotbar.nbt
/knownkeys.txt
/OpenComputersMod-1.7.5.192-lua52-native.64.dll
/OpenComputersMod-1.7.5.192-lua53-native.64.dll
/optionsof.txt
/optionsshaders.txt
